<!-- users/id (そのユーザーが投稿した本の一覧）-->

<div class="container px-5 px-sm-0"> 
<div class="row"> 


<div class="col-md-3">

  <h2>User info</h2>
   <table class="table">
     <% if current_user.profile_image.attached? %>
      <%= image_tag current_user.profile_image, size: "100x100" %>
     <% else %>
      <%= image_tag 'no_image', size: "100x100" %>
     <% end %>
    <thead>
      <tr>
        <th>name</th>
        <th><%= current_user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= current_user.introduction %></th>
      </tr>
    </thead>
   </table>
  
   <%= link_to edit_user_path do %>
   <button type="button" class="btn btn-outline-secondary">
 　<i class="fas fa-user-cog"></i>
　　</button>
　 <% end %>
  



  <h2>New book</h2>
    <%= form_with model: @new_book do |f| %>
      <h4>Title</h4>
       <%= f.text_field :title %>
      <h4>Opinion</h4>
      <%= f.text_area :body %>
     <%= f.submit 'Create Book' %>
     <% end %>
  
  
  
<h1>Books</h1>
    <thead>
      <tr>
        <th colspan="3"></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>

<% @books.each do |book| %>
<div>
  <td>
     <% if current_user.profile_image.attached? %>
      <%= image_tag current_user.profile_image, size: "100x100" %>
     <% else %>
      <%= image_tag 'no_image', size: "100x100" %>
     <% end %>
  </td>
  <td><%= link_to book.title, book_path(book.id) %></td>
  <td><%= book.body %></td>
  <% end %>
</div>


</div>

</div>
</div>

